@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap');

.flex-center-between {
  @apply flex items-center justify-between
}

.flex-center {
  @apply flex items-center
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes toast-bottom {
  from {
    bottom: -80px;
  }

  to {
    bottom: 40px;
  }
}

@keyframes toast-top {
  from {
    top: -80px;
  }

  to {
    top: 40px;
  }
}

.toast-top-keyframe {
  animation: toast-top .2s ease-out;
}

.toast-bottom-keyframe {
  animation: toast-bottom .2s ease-out;
}